
body,
#root{
  height: 100vh;
  margin: auto;

  .app{
    height: 100%;
    background-color: antiquewhite;
    
    header{
      height: 100px;
      width: 100%;
      border-bottom: 3px solid grey;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: bisque;

      h1{
        width: 50%;
        margin: 0;
        text-align: center;
      }

      button{
        height: 30px;
        width: 150px;

        font-size: 1.2rem;
      }
    }
  }
}


.display{
  height: 500px;
  width: 500px;

  margin: 0 auto;
  margin-top: 20px;
  // border: 2px solid rgba(114, 108, 52, 0.518);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  // background-color: rgba(222, 184, 135, 0.23);

  .display-item{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img{
      display: block;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}

